services:
  web:
    build: .
    container_name: api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./staticfiles:/app/staticfiles
      - ./:/app
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:17
    container_name: chronoguess-db
    environment:
      POSTGRES_DB: django
      POSTGRES_USER: django
      POSTGRES_PASSWORD: django
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped
    ports:
      - "5432:5432"

volumes:
  pgdata: